/* App.css */
.classification{
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

textarea,
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: red;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: red;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ccc;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

